body {
     background-color: #987D9A;
}

header {
     width: 90%;
     border: 4px solid #F7B5CA ;
     padding: 40px;
     margin: 0 auto;
     border-radius:30px  ;
     text-align: center;

}
h1 {
     color: #000000;
}
p {
     font-style: italic;
}
img {
     width: 40%;
     display: block;
     margin: 0 auto;
     border: 3px solid #B5C0D0;
     border-radius: 50px;
     margin-bottom: 25px;
     box-shadow: 3px 3px 3px #705C53;
}

img:hover {
     transform: scale(1.1);
     transition: all .3s ease-in-out;
}

button {
     width: 40%;
     margin: 0 auto;
     padding: 8px 25px;
     color: #705C53;
     background-color: #FFE3E3;
     border-radius: 20px;
     border: 4px solid #FFB38E
     
}
button:hover {
     background-color: #789DBC;
     color: #;
     transform: scale(.9);
     transition: all .3s ease-in-out;
}
.about {
     width: 40%;
     margin: 40px auto;
     display: flex;
     padding: 30px;
}
.about p {
     padding-left: 40px;
     margin: auto;
}
.about img {
     width: 10%;
}
#about {
     width: 90%;
     border: 1px solid #0b000c;
     margin: 30px auto;
     padding: 40px 30px;
     display: flex;
}
.left-about {
     width: 60%;
     border-right: 2px solid #0b000c;
}
.left-about img {
     width: 50%;
}
.right-about {
     padding-left: 40px;
}

#project {
     width: 90%;
     border: 1px solid #000000;
     margin: 30px auto;
     padding: 40px 30px;
     display: flex;
     flex-direction: column;
     text-align: center;

}

.title {
     color: #000000;

}
.image-hobby {
     display: flex;
     flex-wrap: wrap;
     margin-top: 40px;

}

.image-hobby img {
     width: 30%;
     border-radius: 50%;
     box-shadow: 2px 2px 10px #000000;
}

.image-hobby img:hover {
     transform: scale(.9);
     transition: all .3s ease-in-out;
}
footer {
     margin: 40px auto;
     text-align: center;
     padding: 20px;
     background-color: #9802a3;
}